/* 공통 CSS */

/* 높이 설정 */
html, body {
  height: 100vh;
}

/* 폰트 설정 */
body {
  margin: 0;
  font-family: SpoqaHanSansNeo-Regular;
  font-weight: 500;
  font-size: 16px;
  overflow-X: hidden; /* 채팅방을 숨겼을 때, 가로 스크롤바가 생기지 않게하기 위함 */
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-family: SpoqaHanSansNeo-Bold;
  font-size: 18px;
}

h5 {
  font-family: SpoqaHanSansNeo-Bold;
  font-size: 14px;
}

/* a태그 기본 설정 없애기(필요하면 없애버려용) */
a:link { color: red; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}
a { color: black; text-decoration: none;}

button:focus { outline:none; }

/* Mobile */
@media (max-width: 749px) {
  .hide-on-small {
    display: none !important;
  }
  .hide-on-big {
    display: block;
  }
}

/* Desktop */
@media (min-width: 750px) {
  html, body {
    min-width: 750px;
  }
  .hide-on-small {
    display: block;
  }
  .hide-on-big {
    display: none !important;
  }
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url("../assets/fonts/SpoqaHanSansNeo-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Light';
  src: url("../assets/fonts/SpoqaHanSansNeo-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Bold';
  src: url("../assets/fonts/SpoqaHanSansNeo-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
